[Options]

;### DESKTOPSHORTCUT ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 0
;
;Description:
; If value is set to 1, shortcuts for the application will be created.
; If value is set to 0, all tracked shortcuts will be removed.

DESKTOPSHORTCUT=0

;### SOFTMIGRATION ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 1
;
;Description:
; Soft Migration is a feature that, if enabled, prevents the package from reinstalling an application that is already present on the target client, based on version criteria.
; This feature will only apply on first package installation and package updates. The target application must be at least of the required version defined in the package.
; If the value is set to 1, the package will check if the application is already present and skip the installation if the criteria are met.
; If the value is set to 0, the package will not check if the application is already present and will always attempt to install the application.

SOFTMIGRATION=1

;### SHOWPROGRESS ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 0
;
;Description:
; If the value is set to 1, the progress bar will be displayed during the deployment process.
; If the value is set to 0, the progress bar will be hidden.

SHOWPROGRESS=0

;### SHOWRESTARTPROMPT #####################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 0
;
;Description:
; If the value is set to 1, a dialog window will be shown if a restart is required.
; If the value is set to 0, the dialog window will be hidden.

SHOWRESTARTPROMPT=0

;### SHOWBALLOONNOTIFICATIONS ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1,2
; Default   = 2
;
;Description:
; If value is set to 2, the setting "ShowBalloonNotifications" from Config.psd1 is used.
; If value is set to 0 or 1 the general setting from Config.psd1 will be overridden.
; Be aware that UI elements take precedence of notifications, so if the UI is shown, the related noticiation will not.
; 0: Ballon notifications are disabled.
; 1: Ballon notifications are enabled.
; 2: Use the value from the Config.psd1

SHOWBALLOONNOTIFICATIONS=2

[AskKillProcesses]

;### TIMEOUT #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    =
; Default   = 600
;
;Description:
; Specifies the timeout in seconds after which the AksKillProcesses is forced to make a decision.
; If the user is allowed to defer the deployment (has defer options left), you may choose to defer the deployment with the CONTINUETYPE setting.
; If no defer options are left, the deployment will continue and all blocking processes will be forcibly closed.
; A value of 0 means the dialog will not be shown and the descision is made immediately.
; The value is specified in seconds.

TIMEOUT=600

;### CONTINUETYPE ############################################################################
; Metadata:
; Type      = String
; CompVar   = 0
; VarTmpl   =
; Values    = ABORT,CONTINUE
; Default   = ABORT
;
;Description:
; Choose the action to be taken when the timeout is reached in the AskKillProcesses dialog.
; Be aware that the user must be able to defer the deployment for the ABORT option to work, otherwise the CONTINUE action will be taken.
; ABORT: The deployment will be deferred if the user has defer options left.
; CONTINUE: The deployment will be continued and all processes will be forcibly closed.

CONTINUETYPE=ABORT

;### DONOTDISTURB #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 0
;
;Description:
; Choose if the AskKillProcesses dialog should be suppressed when a user has Do Not Disturb enabled on their session.
; 0: The AskKillProcesses dialog will be shown regardless of the user's Do Not Disturb status.
; 1: The AskKillProcesses dialog will be suppressed if the user has Do Not Disturb enabled on their session.

DONOTDISTURB=0

;### USERCANCLOSEALL #########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 0
;
;Description:
; Choose if the user can close the applications processes via the UI.
; It is always recommended to make the user close the applications manually to prevent data loss.
; A warning message is shown prior to closing the applications to inform the user about potential data loss.
; 0: Button is not visible, user must close all processes manually.
; 1: Button is visible, user can close all blocking processes automatically.

USERCANCLOSEALL=0

;### ALLOWABORTBYUSER #########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 1
;
;Description:
; Specify if the user is allowed to defer the deployment without any constraints.
; This value will supersede any other defer option.
; 0: The defer values will apply, if none are set the user may not defer.
; 1: The user can defer regardless of what defer options might be set.

ALLOWABORTBYUSER=0

;### DEFERDAYS #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    =
; Default   = 0
;
;Description:
; Specify the number of days since the UI was first shown after which the deferral is no longer allowed.
; Specifying 0 is considered not configured.

DEFERDAYS=0

;### DEFERTIMES #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    =
; Default   = 0
;
;Description:
; Specify the number of times the deployment can be deferred.
; You can space out the deferrals with the DEFERINTERVAL setting to prevent the user from deferring multiple times in a short time span.
; Specifying 0 is considered not configured.

DEFERTIMES=0

;### DEFERDEADLINE ###############################################################################
; Metadata:
; Type      = Date
; CompVar   = 0
; VarTmpl   =
; Values    =
; Default   =
;
;Description:
; Specify the exact date until which the deployment can be deferred.
; Use universal sortable datetime format like YYYY-MM-DD (1970-01-01).
; Specifying no value is considered not configured.

DEFERDEADLINE=

;### DEFERINTERVAL ###############################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    =
; Default   = 0
;
;Description:
; Specify the minimum amount of time in minutes before another dialog can be shown to the user (if deferral is allowed).
; If the AppCloseProcesses dialog is supposed to be shown prior to the interval being met, the user will not be shown the dialog again and the deployment will gracefully exit.
; Please note that the deployment will exit with a fast retry code and it is up to the deployment system to decide when to reinvoke the deployment.
; Specifying 0 means there is no limit on how often the user can be shown the dialog.

DEFERINTERVAL=0

;### TOPMOSTWINDOW #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1,2
; Default   = 1
;
;Description:
; This value defines if dialogs are shown above all other windows.
; 0: Dialogs are not shown above all other windows.
; 1: Only the AskKillProcesses dialog window is shown above all other windows.
; 2: All dialog windows are shown above all other windows.

TOPMOSTWINDOW=1

;### MINIMIZEALLWINDOWS #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   =
; Values    = 0,1
; Default   = 1
;
;Description:
; This value defines if all other windows should be minimized when the AskKillProcesses dialog is shown.
; 0: All other windows will not be minimized when the AskKillProcesses dialog is shown.
; 1: All other windows will be minimized when the AskKillProcesses dialog is shown.

MINIMIZEALLWINDOWS=1
