AppDeployToolkit/AppDeployToolkitBanner.png
AppDeployToolkit/AppDeployToolkitHelp.ps1
AppDeployToolkit/AppDeployToolkitLogo.ico
AppDeployToolkit/AppDeployToolkitMain.cs
AppDeployToolkit/AppDeployToolkitMain.ps1
AppDeployToolkit/logo.png
AppDeployToolkit/AppDeployToolkitLogo.png
SupportFiles/Setup.ico
.vs/slnx.sqlite
SupportFiles
Files
CustomSetup.cfg
Setup.ico
