AppDeployToolkit/AppDeployToolkitBanner.png
AppDeployToolkit/AppDeployToolkitHelp.ps1
AppDeployToolkit/AppDeployToolkitLogo.ico
AppDeployToolkit/AppDeployToolkitMain.cs
AppDeployToolkit/AppDeployToolkitMain.ps1
AppDeployToolkit/logo.png
SupportFiles/Setup.ico
.vs/slnx.sqlite
SupportFiles
Files
CustomSetup.cfg
shared.psm1
test/PesterTestResults.xml
test/NxtExtensions
test/PSADT
test/TestWorkFolder
