[Options]

;### DESKTOPSHORTCUT ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 0,1
; Default   = 0

;Description:
; If value is set to 1, a shortcut will be created on common desktop.

DESKTOPSHORTCUT=0

;### SHOWBALLOONNOTIFICATIONS ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 0,1,2
; Default   = 2

;Description:
; If value is set to 2, the setting "ShowBalloonNotifications" from AppDeployToolkitConfig.xml is used.
; If value is set to 0 or 1 the general setting from AppDeployToolkitConfig.xml will be overridden.
; 0: balloon notifications off
; 1: balloon notifications on
; 2: use setting from AppDeployToolkitConfig.xml

SHOWBALLOONNOTIFICATIONS=2

;### SOFTMIGRATION ##########################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 0,1
; Default   = 1

;Description:
; If value is set to 1, the package will not reinstall an existing installation on the target client.
; Only applies on the first package deployment on each client.
; By default SOFTMIGRATION only applies if "DisplayVersion" is defined in neo42PackageConfig.json and a DisplayVersion value is found in the uninstall registry key of the application.
; Alternatively a file, fileversion or custom check can be performed, based on the SoftMigration settings in neo42PackageConfig.json.

SOFTMIGRATION=1

[AskKillProcesses]

;### TIMEOUT #################################################################################
; Metadata:
; Type      = String
; CompVar   = 0
; VarTmpl   = 
; Values    = 
; Default   = 600

;Description:
; If a dialog window is displayed, showing all processes or applications that must be closed by the user before an installation/uninstallation,
; this window is automatically closed after the timeout.
; With the value TIMEOUT, you can define a timeout in seconds

TIMEOUT=600

;### CONTINUETYPE ############################################################################
; Metadata:
; Type      = String
; CompVar   = 0
; VarTmpl   = 
; Values    = ABORT,CONTINUE
; Default   = ABORT

;Description:
; If a dialog window is displayed that shows all processes or applications that must be closed by the user before an installation / uninstallation,
; this window is automatically closed after the timeout and the further behavior can be influenced with the following values.
;  ABORT:    After the timeout has expired, the installation will be aborted
;  CONTINUE: After the timeout has expired, the processes and applications will be terminated and the installation continues

CONTINUETYPE=ABORT

;### USERCANCLOSEALL #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 0,1
; Default   = 0

;Description:
; If a dialog window is displayed that shows all processes or applications that must be closed by the user before an installation / uninstallation,
; user may force closing all listed applications by click on the 'Close applications' button.
; 0: 'close'-button is hidden
; 1: 'close'-button is visible

USERCANCLOSEALL=0

;### ALLOWABORTBYUSER #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 0,1
; Default   = 0

;Description:
; If a dialog window is displayed that shows all processes or applications that must be closed by the user before an installation / uninstallation,
; user may abort the pending installation process by click on the 'Cancel' button.
; Note: this abort action has no impact on the DEFERTIMES counter and works always even the calculated deadline from DEFERDAYS is reached!
; 0: 'cancel'-button is hidden
; 1: 'cancel'-button is visible

ALLOWABORTBYUSER=0

;### DEFERDAYS #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 
; Default   = 0

;Description:
; Specify the number of days since first run that the installation can be deferred. This is converted to a deadline.
; Only applies if disruptive apps are running and value DEFERTIMES is greater than 0 too.

DEFERDAYS=0

;### DEFERTIMES #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 
; Default   = 0

;Description:
; Specify the number of times the installation can be deferred.
; Only applies if disruptive apps are running and DEFERTIMES are greater than 0.

DEFERTIMES=0

;### TOPMOSTWINDOW #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 
; Default   = 1

;Description:
; If value is set to 1 and the dialog window is displayed, it always will be shown as the top most window.

TOPMOSTWINDOW=1

;### MINIMIZEALLWINDOWS #################################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 
; Default   = 1

;Description:
; If value is set to 1 and the dialog window is displayed, all other windows will be minimized then.

MINIMIZEALLWINDOWS=1

;### APPLYCONTINUETYPEONERROR ######################################################################
; Metadata:
; Type      = Int
; CompVar   = 0
; VarTmpl   = 
; Values    = 
; Default   = 0

;Description:
; If value is set to 1 and the dialog window cannot be displayed, CONTINUETYPE will be applied instead of exiting with error.

APPLYCONTINUETYPEONERROR=0